<!DOCTYPE html>
<head>
     <title> Covid 19 </title>
     <script src="https://d3js.org/d3.v4.min.js"></script>
     <script src="https://code.jquery.com/jquery.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="../static/css/style.css"></link>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <!-- <script src="./js/testFunc.js"></script> -->
</head>

<body>
  <div style="padding-top: 25px">
    <div class="dropdown col-md-8 block">
      <button class="btn btn-success dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:20%">
      <p id="listoffeatures" style="font-size:10"> </p>
      </button>
      <ul id="select_drop_down" class="dropdown-menu" aria-labelledby="listoffeatures"  style="padding-left: 55px">
	  	</ul>
    </div>
  </div>
  <!-- <div style="width:auto; height:auto"> -->
    <svg id="svg_id"> </svg>
  <!-- </div> -->
    <svg id="svg_id2"> </svg>

  <script src="../static/js/project.js"></script>

</body>

</html>
